@import 'color.less';

.top-title {
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
}

// less function class
.text-shadow-small (@color: @main-color) {
  color: @color;
  text-shadow: 0 0 1px #fff,
  0 0 2px #fff,
  0 0 3px #fff,
  0 0 4px @color,
  0 0 5px @color;
}

.text-shadow-big (@color: @main-color) {
  color: @color;
  text-shadow: 0 0 1px #fff,
  0 0 4px #fff,
  0 0 8px #fff,
  0 0 12px @color,
  0 0 16px @color;
}

.text-shadow-big-animation (@color: @main-color) {
  color: @color;
  cursor: default;

  &:hover {
    color: #fff;
  }

  animation: text-shadow-big 3s infinite alternate;

  @keyframes text-shadow-big {
    from {
      text-shadow: 0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 5px @color,
      0 0 7px @color,
      0 0 9px @color;
    }

    to {
      text-shadow: 0 0 1px #fff,
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px @color,
      0 0 20px @color,
      0 0 25px @color;
    }
  }
}
